<% if @user_answer == @question.answer %>
  <% content_for :body_class, "body-result body-correct" %>
  <p class="result_text">Correct!</p>
<% else %>
  <% content_for :body_class, "body-result body-incorrect" %>
  <p class="result_text">Incorrect</p>
<% end %>
<a href="/" class="button button-next">Next</a>