<p><%= @question.text %></p>
<form method="get" action="/questions/<%= @question.id %>/result">
  <input type="submit" name="True" value="True" />
  <input type="submit" name="False" value="False" />
</form>