<p><%= @question.text %></p>
<%= form_tag(show_result_path(@question)) do %>
<!-- <form method="post" action="/questions/<%= @question.id %>/result"> -->
  <input type="submit" name="True" value="True" />
  <input type="submit" name="False" value="False" />
<% end %>