// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body-profile {
  background-color: #0c1069;
  text-align: center;
  color: #fff;
  
  h1 {
    font-size: 4em;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  
  .score-title {
    font-size: 2em;
    margin-right: 1em;
    opacity: 0.8;
    position: relative;
    top: 1em;
    font-family: sans-serif;
  }
  
  .score {
    font-size: 8em;
    vertical-align: text-top;
  }
}

.body-sign-in, .body-sign-up {
  background-color: #333;
  
  form {
    width: 500px;
    margin: 4em auto;
    text-align: right;

    input[type=text], input[type=password] {
      width: 100%;
      font-size: 3.5em;
      margin-bottom: 0.4em;
      border: none;
      background-color: #333;
      border-bottom: 2px solid #fff;
      color: #fff;

      &:focus {
        outline: none;
      }
    }
  }
}